
::selection{
//background: transparent;
//color:inherit;
//text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
::-webkit-resizer {
  display: none;
}
::-webkit-scrollbar
{
  width: 7px;
  height: 9px;
//background-color: white;
  transition: all 1s ease;
}

::-webkit-scrollbar-track
{
  background-color: transparent;
  transition: all 1s ease;
}

::-webkit-scrollbar-thumb
{
  border-radius: 3.5px;
  background: rgba(120, 120, 120, 0.2);
  opacity: .2;
  transition: all 1s ease;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.8);
  transition: all 1s ease;
  opacity: 1;
}
html{
  overflow: overlay;
}
body {
  min-width: 20rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
